<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <resources mapping="/resources/**" location="/home/hadoop/IdeaProjects/meteo-web-app/src/main/resources" />
    <title>Weather Analyzer Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/resources" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>

    <style>
    div.dataTables_wrapper {
        margin-bottom: 3em;
    }
</style>

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="images/structure.svg" width="35" height="35" alt="" />
        Weather Analyzer-Data Cube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Analyser Home
                    <span class="sr-only">(AnalyserHome)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Data">Generate Data</a>
                <span class="sr-only">(Data)</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="allInone">All Data View</a>
                <span class="sr-only">(allInone)</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="view">Search By StationId
                    <span class="sr-only">(view)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="information">Documentation</a>
                <span class="sr-only">(information)</span>
            </li>
        </ul>
    </div>
</nav>
<br>
<body class="bg-white text-dark">
<br>
<h6 class="text-black" style="text-align:center;font-size:1.2em">
    Data Processing
</h6>
<br>
<h6 class="text-black" style="text-align:left;font-size:1em">
    This page refer to Average Temperature in all station with location information.
    <br>
    Check the Documentation page for Data References
</h6>
<br>
<br>
<div class="alert alert-primary alert-dismissible" role="alert" style="height:50%">
    <strong>Data Processing</strong> Data Collection may take few minutes.
    </strong>Hold on please once the Data retreived you will be able to search Data.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <form class="d-flex justify-content-around" action="#" method="post" th:action="@{/dimensions}" th:object="${searchFilter}" >
            <div th:if="${dimensions1 != null and not #lists.isEmpty(dimensions1)}">
                <select th:field="*{dimension1}">
                    <option th:each="dimension : ${dimensions1}"
                            th:value="${dimension}"
                            th:text="${dimension}" />
                </select>
            </div>
            <div th:if="${dimensions2 != null and not #lists.isEmpty(dimensions2)}">
                <select th:field="*{dimension2}">
                <option th:each="dimension : ${dimensions2}"
                        th:value="${dimension}"
                        th:text="${dimension}" />
            </select>
        </div>
        <div th:if="${mesures != null and not #lists.isEmpty(mesures)}">
            <select th:field="*{agregation}">
                <option th:each="me : ${mesures}"
                        th:value="${me}"
                        th:text="${me}" />
            </select>
        </div>
        <div th:if="${agregations != null and not #lists.isEmpty(agregations)}">
            <select th:field="*{dimension3}">
                <option th:each="ag : ${agregations}"
                        th:value="${ag}"
                        th:text="${ag}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </form>
</div>
<br>


<table class="table">
    <thead>
    <tr>
        <div>
            <th scope="col">#</th>
        </div>
        <div th:each="row : ${rows}" >
            <th th:text="${row}"  scope="col">First</th>
        </div>
    </tr>
    </thead>
    <tbody >
        <tr th:each="col : ${cols}">
            <th scope="row" th:text="${col.key}" >1</th>
            <td  th:each="vals : ${col.value}">
                <div th:text="${vals.val}" />
            </td>
        </tr>
    </tbody>
</table>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.js"></script>


</body>
<br>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-4">
            <h5 class="text-black">Contact Us</h5>
            <span>
            <h6 class="text-muted">This product is under Hassan II University licence.
                    <br>
                    Please contact the mathematics and computer science department.</h6>
            <h5 class="text-black">Project Team</h5>
            <h6 class="text-muted" >
                Khalid   MOUSSAID.(Project Manager)
                <br>
                Manal    SERHANE.
                <br>
                Oumaima  GHOUMAR.
                <br>
                Zakariae LOUAK.
                <br>
            </h6>
            </span>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand">
                About Us
            </a>
        </button>
        <img src="images/casa.png" width=10% height=10% alt="" style="align:right;bg-white" />
    </nav>
    <h6 class="text-muted bg-white" style="text-align:center;bg-white" >
        <img src="images/vbox.png" width="35" height="35" alt="" style="align:center;bg-white"/>
        <img src="images/centos.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/hadoop.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/hbase.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/java.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/mysql.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/apache.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/HTML5.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/bootstrap.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <img src="images/git.png" width="35" height="35" alt="" style="align:center;bg-white" />
        <br>
        <br>
        Copyright 2018-2020 BigData & Cloud Computing. All rights reserved
    </h6>
</div>
</html>